canvas {
	background: #bbada0;
	border-radius: 5px;
	border-color: #000;
	display: block;
	margin: 0 auto;
}
/* 
@font-face {
	font-family: 'arial';
	src: url("ClearSans-Bold.ttf");
} */

.comments {
	color: white;
	background-color: dodgerblue;
}

.gameUI {
	text-align: center;
}

#sButton {
	width: 150px;
	height: 50px;
	margin: 10px 10px 10px 10px;
}